/* MAKE A MAX WIDTH FOR EACH SECTION SO THE CSS DOESN'T MESS UP */

body {
    max-width: 100vw; 
    min-height: 100vh;
    margin: 0;
    background-color: #F3F5FF;
    color: black;
}

p{
    /* color: rgb(8,12,93); */
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.3;
}

a {
    color: rgb(8,12,93);
    font-weight: 700;
    font-size: 16px;
}

a:hover {
    background: #9CB3BB;
}

.quick-links {
    color: rgb(8,12,93);
    font-size: 20px;
}

.quick-links:hover {
    background: #9CB3BB;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#B0D7FF;
    width:100%;
}

h1 {
    margin: 20px 0 0 0;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
}

h2 {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.nav-title {
    margin: 0;
}

.nav-par {
    margin: 0;
}

h3 {
    color: black;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

h4 {
    font-family: 'Lato', sans-serif;
}

#get-company {
    background: rgb(8,12,93);
    color: white;
    width: 100px;
    height: 35px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    border-radius: 15px;
}

#get-company:hover {
    background: #9CB3BB;
}

#company-symbol {
    width: 100px;
    height: 20px;
}

.title {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

#company-search {
    display: flex;
    justify-content: center;
    margin: 20px 20px 0 20px;
    font-size: 18px;
}

.find-symbol {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.company-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background:#9FCAF7;
    box-shadow: 1px 1px 9px #000000;
    margin: 10px 20px;
    padding: 10px;
    max-width: 1250px;

}

.compDis {
    align-self: flex-start;
}

.stock-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px 20px;
    padding: 10px;
    background:#9FCAF7;
    box-shadow: 1px 1px 9px #000000;
    max-width: 1250px;
}

.nums {
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

.stock-explain {
    color: black;
    align-self: flex-start;
}

.news{
    display: flex;
    justify-content: center;
    min-width: 500px;
    flex-flow: wrap;
    margin: 0 20px 20px 20px;
}

#news-title {
    color:black;
}
.newPic {
    max-width: 300px;
}

.articleBox {
    margin: 10px;
    padding: 10px;
    max-width: 400px;
    box-shadow: 1px 1px 9px #000000;
    background: #9FCAF7;
    color: black;
}

.artSum {
    color: black;
}

#description {
    color: black;
}

footer {
    display: flex;
    flex-direction: column;
    background:#B0D7FF;
    padding: 20px 20px 40px 20px;

}

.social-title {
    display: flex;
    justify-content: center;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social {
    margin: 0 10px;
}

@media (max-width: 450px) {
   .news {
       min-width: 300px;
   }
}