/* MAKE A MAX WIDTH FOR EACH SECTION SO THE CSS DOESN'T MESS UP */

body {
    min-width: 100vw;
    margin: 0 auto;
}

header {
    margin: 20px;
}

.company-search {
    margin: 20px;
}

.find-symbol {
    margin: 20px;
}

.company-info {
    margin: 20px;
}

.stock-info {
    margin: 20px;
}

.news{
    display: flex;
    min-width: 500px;
    flex-flow: wrap;
    margin: 20px;
}

.newPic {
    max-width: 20px;
}

.articleBox {
    /* max-width: 200px; */
    border: solid red 2px;
}